/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond&family=Libre+Baskerville:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Libre Baskerville';
    font-weight: bold;
}


/* Color Theme Swatches in Hex */
.areia-1-hex {
    color: #735E45;
}

.areia-2-hex {
    color: #D9B88F;
}

.areia-3-hex {
    color: #A67F5D;
}

.areia-4-hex {
    color: #403124;
}

.areia-5-hex {
    color: #594636;
}

:root {
    --primary-color: #48320f;
    --secondary-color: #a68861;
    --light-transparent-bg: rgba(255, 255, 255, .4);
    --dark-transparent-bg: rgba(0, 0, 0, .4);
    --transparent-bg: rgba(255, 255, 255, .9);
}

/*Cores dos elementos
---------------------*/
header {
    background: var(--primary-color);
}

header * {
    color: #fff;
}

aside,
main aside span,
aside nav,
main {
    background: #765b36;
}


aside * {
    color: #fff;
}

.selecionado {
    background: var(--light-transparent-bg) !important;
    border: 1px solid var(--transparent-bg) !important;
    color: #000;
}

aside nav>ul li:not(.viewToggler, .search) {
    background: var(--dark-transparent-bg);
    border: 1px solid var(--light-transparent-bg);
}

input[type="text"] {
    background: var(--light-transparent-bg);
}

input[type="text"]::-webkit-input-placeholder {
    color: #fff;
}

input[type="text"]::-moz-placeholder {
    color: #fff;
}

input[type="text"]:-ms-input-placeholder {
    color: #fff;
}

input[type="text"]::-ms-input-placeholder {
    color: #fff;
}

input[type="text"]::placeholder {
    color: #fff;
}

#plantas,
body {
    background: var(--secondary-color);
}

main #plantas * {
    color: #000;
}

#plantas>article {
    background: var(--light-transparent-bg);
    border: 1px solid var(--dark-transparent-bg);
}

/*-------------------*/

input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    font-size: 14px;
}

body {
    font-size: 100%;
    height: 100%;
}

header {
    height: 3em;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--dark-transparent-bg);
}

header>h1 {
    margin: 0;
    line-height: 1.5em;
}

main {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: inline-block;
    position: relative;
}

/* ASIDE
------*/

aside {
    text-align: center;
    position: sticky;
    top: 0;
    padding: 0px 10px 10px;

    -webkit-transition: padding-top .2s ease;

    -o-transition: padding-top .2s ease;

    transition: padding-top .2s ease;
    display: inline-block;
}

aside h2 {
    text-decoration: underline;
}

aside nav>ul li {
    font-size: 1rem;
    padding: 7px;
    line-height: 1rem;
    display: block;
    border-radius: 10px;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
    margin: 5px 0;
}

aside nav>ul li.search {
    padding: 0px;
}

aside nav>ul li:nth-child(16)~li {
    display: inline-block;
    width: 31.3%;
}

/* #plantas
--------*/

main>#plantas {
    padding: 15px 10px 10px 0;
    float: right;
    position: relative;
    height: 100%;
    width: 86%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: distribute;
        align-content: space-around;

    -webkit-transition: all .3s ease;

    -o-transition: all .3s ease;

    transition: all .3s ease;
    border-left: 1px solid var(--dark-transparent-bg);
}

#plantas>article {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 15px;
    margin: 10px;
    max-width: 300px;
    display: initial;

    border-radius: 20px;
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
    position: relative;
    overflow: hidden;
    cursor: default;
}

article h2 {
    width: 100%;
    margin: 0px auto;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.imgContainer {
    height: 160px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
}

.imgContainer>img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.imgContainer:hover>img {
    opacity: .9;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.tag {
    font-size: 1.1em;
    font-style: italic;
}

article>div>div h4 {
    margin: 13px 0 5px;
    font-size: 1.1em;
}

#plantas>article>div>div {
    width: 70%;
    margin: 0px auto;
}

#plantas>article>div>div div {
    margin: 0 auto;
    text-align: center;
    display: block;
}

#plantas>article i {
    position: relative;
    font-size: 1.3em;
}

#plantas>article i:nth-child(1) {
    float: left;
}

#plantas>article i:nth-child(3) {
    float: right;
}

/*Cilindro nas informações*/
#plantas>article span {
    display: inline-block;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background: transparent;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

#plantas>article span::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border: 1px solid rgb(158, 178, 59);
    background: rgb(158, 178, 59);
}

.iluminacao i::after,
.rega i::after {
    font-size: .6em;
    position: absolute;
    bottom: -1.4em;
    left: 25%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    opacity: 0;
    -webkit-transition: opacity .1s .2s ease;
    -o-transition: opacity .1s .2s ease;
    transition: opacity .1s .2s ease;
}

/*--- Iluminação ---*/
.iluminacao i:nth-child(1):after {
    content: 'Sombra';
}

.iluminacao i:nth-child(2):after {
    content: 'Meia-Sombra';
}

.iluminacao i:nth-child(3):after {
    content: 'Sol';
}

#plantas>article span:first-of-type.breu::after {
    width: 25%;
}

#plantas>article span:first-of-type.meia-sombra::after {
    width: 50%;
}

#plantas>article span:first-of-type.sol-pleno::after {
    width: 100%;
}

#plantas>article span:first-of-type.meia-sombra.sol-pleno::after {
    width: 75%;
}

/*--- Rega ---*/

.rega i:nth-child(1):after {
    content: 'Pouca';
}

.rega i:nth-child(2):after {
    content: 'Moderada';
}

.rega i:nth-child(3):after {
    content: 'Frequente';
    left: -75%;
}

#plantas>article span:last-of-type.pouca::after {
    width: 25%;
}

#plantas>article span:last-of-type.moderada::after {
    width: 50%;
}

#plantas>article span:last-of-type.frequente::after {
    width: 100%;
}

@media (max-width: 767.98px) {

    aside {
        padding: 0;
        border-radius: 0;
        width: auto;
        height: auto;
        position: fixed;
        overflow: hidden;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        margin: 0;
        margin-left: -310px;
        z-index: 999;
        background: none;
        -webkit-transition: margin-left .3s ease-out;
        -o-transition: margin-left .3s ease-out;
        transition: margin-left .3s ease-out;
    }

    aside h2 {
        display: none;
    }

    aside>div {
        position: relative;
        width: 290px;
        height: 400px;
    }

    main aside span {
        font-size: 1.2em;
        width: 9%;
        height: 100%;
        position: absolute;
        right: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 5px;

        border: 1px solid var(--dark-transparent-bg);
        vertical-align: middle;
        cursor: pointer;
        color: #fff;
        border-radius: 0 5px 5px 0;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    aside.on {
        margin-left: 0;
    }

    aside nav {
        display: inline-block;
        padding: 10px;
        position: absolute;
        left: 0;
        height: 100%;
        width: 91%;
        border: 1px solid var(--dark-transparent-bg);
        border-right: none;
        border-left: none;
    }

    aside nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: 100%;
        width: 100%;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    ul li {
        -ms-flex-preferred-size: 48%;
            flex-basis: 48%;
    }

    ul li:nth-child(16)~li {
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%;
    }

    ul li:nth-child(19)~li {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
    }

    aside nav a {
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
    }

    #plantas#plantas {
        padding-left: 17px;
        float: none;
        width: 100%;
    }

    #plantas>article {
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
    }

}

@media (max-width: 576px) {

    html {
        font-size: 12px;
    }

    #plantas>article>div {
        height: 130px;
    }

    aside {
        margin-left: -264px;
    }

    ul li:nth-child(16)~li {
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
    }

    #plantas.expandido>article {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        max-width: 400px;
        font-size: 16px;
    }

    #plantas.expandido>article>div>div {
        width: 60%;
    }

    #plantas.expandido>article>div {
        height: 250px;
    }
}

@media (min-width: 576px) {

    li.viewToggler {
        display: none;
    }

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    html {
        font-size: 14px;
    }

    aside div {
        width: 340px;
        height: 397px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    main span {
        display: none;
    }

    .selecionado,
    aside nav li:not(.viewToggler, .search):hover {
        background: var(--light-transparent-bg) !important;
        border: 1px solid var(--transparent-bg) !important;
        color: #000;
        cursor: pointer;
    }

    aside {
        width: 100%;
        min-width: 120px;
        max-width: 19%;
    }

    #plantas#plantas {
        width: 81%;
    }

}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    #plantas#plantas {
        width: 83%;
    }

    aside {
        max-width: 17%;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #plantas#plantas {
        width: 86.5%;
    }

    aside {
        max-width: 13.5%;
    }
}

@media (min-width: 992px) {
    .show {
        margin: 0;
        position: fixed;
        width: 50%;
        height: 75%;
        top: 50%;
        left: 50%;
        z-index: 999;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        background-color: #735E45;
    }

    .iluminacao i:hover::after,
    .rega i:hover::after {
        opacity: 1;
    }
}