* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

:root {
    --light-transparent-bg: rgba(255, 255, 255, .4);
    --dark-transparent-bg: rgba(0, 0, 0, .6);
    --transparent-bg: rgba(255, 255, 255, .9);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: rgb(158, 178, 59);
    background: linear-gradient(140deg, rgba(158, 178, 59, 1) 0%, rgba(110, 198, 144, 1) 77%, rgba(70, 215, 213, 1) 100%);
    height: 100%;
}

header {
    height: 3em;
    background: rgb(78, 52, 134);
    background: linear-gradient(140deg, rgba(78, 52, 134, 1) 0%, rgba(52, 82, 134, 1) 50%);
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--dark-transparent-bg);
}

header>h1 {
    margin: 0;
    line-height: 1.5em;
}

main {
    width: 100%;
    height: fit-content;
    display: inline-block;
    background: #345286;
    position: relative;
}

/* ASIDE
------*/

aside {
    text-align: center;
    position: sticky;
    top: -1.9em;
    /*hide [aside h2]*/
    padding: 15px 10px 10px;

    display: inline-block;
}

aside h2 {
    text-decoration: underline;
}

aside>nav li {
    margin: 5px 0;
}

aside>nav li span {
    opacity: 0;
    display: none !important;
    width: 1em;
    font-size: 1em !important;
    height: 10px !important;
    vertical-align: middle !important;
    margin-top: -.8em;
}

aside>nav li span img {
    width: 1em;
}

/* aside > nav li:hover span {
    opacity: 1;
    display: inline-block !important;
    margin-right: 5px;
} */

aside>nav a {
    font-size: 1.2rem;
    padding: 7px;
    line-height: 1rem;
    display: block;
    background: var(--light-transparent-bg);
    border: 1px solid var(--dark-transparent-bg);
    border-radius: 10px;
    transition: all .1s ease-in;
}

aside>nav a:hover {
    background: var(--dark-transparent-bg);
    border: 1px solid var(--transparent-bg);
    color: #fff;
}

/* SECTION
--------*/

main>section {
    padding: 15px 10px 10px 0;
    float: right;
    position: relative;
    height: 100%;
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    background: var(--light-transparent-bg);

    border-left: 1px solid var(--dark-transparent-bg);
}

section>article {
    flex-grow: 1;
    background: var(--light-transparent-bg);
    border: 1px solid var(--dark-transparent-bg);
    text-align: center;
    height: max-content;
    padding-bottom: 15px;
    margin: 10px 10px;
    max-width: 300px;
    display: initial;

    border-radius: 20px;
    flex-basis: 200px;
    position: relative;
    overflow: hidden;
}

article h2 {
    width: 100%;
    margin: 0px auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

article>div {
    height: 160px;
}

article img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



article>a>div:not(.tags) h4 {
    margin-top: 10px;
}

section>article>a>div {
    width: 40%;
    margin: 0px auto;
}

section>article>a>div div {
    margin: 0 auto;
    text-align: center;
    display: block;
}

section>article i:nth-child(1) {
    float: left;
}

section>article i:nth-child(3) {
    float: right;
}

section>article span {
    display: inline-block;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background: transparent;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

section>article span::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border: 1px solid rgb(158, 178, 59);
    background: rgb(158, 178, 59);
}

/*

/*--- Iluminação ---*/
section>article span:first-of-type::after {
    width: 0%;
}

section>article span:first-of-type.vintecinco::after {
    width: 25%;
}

section>article span:first-of-type.cinquenta::after {
    width: 50%;
}

section>article span:first-of-type.setentaecinco::after {
    width: 75%;
}

section>article span:first-of-type.cem::after {
    width: 100%;
}

/*--- Água ---*/
section>article span:last-of-type::after {
    width: 25%;
}

section>article span:last-of-type.cinquenta::after {
    width: 50%;
}

section>article span:last-of-type.cem::after {
    width: 100%;
}


@media (max-width: 767.98px) {

    html {
        font-size: 12px;
    }

    aside {
        padding: 0;
        border-radius: 0;
        width: 220px;
        height: 400px;
        position: fixed;
        overflow: hidden;
        top: 50px;
        margin: 0;
        z-index: 999;
        background: none;
    }

    aside h2 {
        display: none;
    }

    main aside span {
        width: 20px;
        height: 27px;
        box-sizing: border-box;
        float: left;
        padding: 7px 5px 5px;
        border: 1px solid black;
        border-left: 0;
        background: #345286;
        color: #fff;
        border-radius: 0 5px 5px 0;
    }

    aside nav {
        transition: left .3s ease-out;
        position: absolute;
        top: 24px;
        left: -220px;
        padding: 10px;
        border-radius: 0 15px 15px 0;
        background: #345286;
        /*#345286*/
        border: 1px solid var(--dark-transparent-bg);
        border-left: none;
    }

    aside nav ul {
        display: grid;
        grid-template-columns: 90px 90px;
        column-gap: 5px;
    }

    aside nav a {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    section#plantas {
        padding-left: 17px;
        float: none;
        width: 100%;
    }

    section>article {
        flex-basis: 40%;
    }

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    html {
        font-size: 16px;
    }

    aside {
        width: 280px;
        height: 430px;
    }

    aside span {
        padding-top: 5px;
    }

    aside nav ul {
        grid-template-columns: 120px 120px;
    }

    aside nav {
        top: 26px;
        left: -280px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    main span {
        display: none;
    }

    aside {
        width: 100%;
        min-width: 120px;
        max-width: 13%;
    }

    section#plantas {
        width: 81%;
    }

}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    section#plantas {
        width: 83%;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    section#plantas {
        width: 86.5%;
    }

}

.selecionado {
    background: var(--dark-transparent-bg);
    border: 1px solid var(--transparent-bg);
    color: #fff;
}