@import url('https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    color: #b5bBbD;
    transition: all .3s ease-in-out;
    letter-spacing: 2px;
}

*::-webkit-scrollbar {
    background-color: black;
    border-radius: 10px;
    width: 2px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
}

p {
    font-size: 1rem;
}

a:hover {
    color: #e8e1e0;
}

body {
    font-size: 62.5%;
    background-color: #212222;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

nav>div {
    width: 100%;
    background-color: #1C1E1F;
    color: #b5bBbD;
}

nav>div>h1,
nav>div>a,
nav>div>h2 {
    display: inline-block;
    white-space: nowrap;
    margin-left: 15px;
    font-size: 1.7rem;
}

nav>div>a {
    transition: all .3s ease-in-out;
    display: none;
}

nav>div>h2 {
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav>div span {
    font-size: 2.7rem;
    color: #a07fd0;
}

.container {
    position: relative;
    width: 85vw;
    height: 100vh;
    overflow-y: auto;
    justify-content: space-evenly;
    margin: 65px 0 0 175px;
}

.topics,
.container {
    padding: 20px;
    display: flex;
    height: 580px;
    overflow-x: hidden;
    border-radius: 5px;
    background-color: #1C1E1F;
    border: 1px solid rgba(160, 127, 208, .4);
}

.topics {
    flex-direction: column;

    row-gap: 20px;
    text-align: center;
    width: 150px;

    padding: 5px;
    position: fixed;
    left: 10px;
    top: 65px;

    z-index: 999;
    direction: rtl;
    overflow-y: auto;
}

.topics>div>span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.topics>div:not(:first-of-type)>a {
    border-top: 1px solid rgba(181, 187, 189, .1);
}

.topics>div>a {
    padding: 7px 0;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.topics>div>span>a {
    text-align: center;
    font-size: 1rem;
    padding: 7px 20px;
}

.topics>div>span>a:hover {
    background-color: rgba(160, 127, 208, .4);
}

.top {
    width: 100%;
    position: relative;
}

.top::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    left: 50%;
    bottom: 0;
    border-radius: 30px;
    border-bottom: 1px solid #b5bBbD;
    border-left: 1px solid #b5bBbD;
    border-right: 1px solid #b5bBbD;
    transform: translateX(-50%);
}

.infos {
    display: flex;
    padding: 10px 0;
    justify-content: space-evenly;
}

h2 {
    display: inline-block;
}

.infos>span {
    font-size: 1.2rem;
}

.infos>span>h2 {
    font-size: 1.2rem;
}

.main {
    width: 100%;
}

.powers-table {
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 90%;
}

.powers-table>div {
    display: grid;
    grid-template-columns: .15fr .5fr repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    -ms-grid-row-align: center;
    margin-bottom: 20px;
}

.powers-table>div:last-of-type {
    margin-bottom: 40px;
}

.powers-table>div>h2 {
    transform: rotateZ(-45deg);
    justify-self: center;
    width: fit-content;
}

.powers-table>div>img {
    justify-self: center;
    width: 50px;
}

.powers-table>div>span {
    justify-self: center;
    width: 300px;
    height: 150px;
    padding: 8px 15px;
    text-align: center;

    display: flex;
    flex-direction: column;

    border-radius: 10px;
    overflow-y: auto;
    border: 1px solid #b5bBbD;
}

.powers-table>div>span>p {
    margin: auto 0;
}

.main>h1 {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {

    nav {
        position: relative;
        height: 9%;
    }

    nav>div>a {
        display: inline-block;
    }

    nav>div>h1 {
        font-size: 1.5rem;
    }

    nav>div span {
        font-size: 2.5rem;
    }

    .topics {
        margin-left: -160px;
    }

    .container {
        position: absolute;
        width: 100vw;
        margin: 0px 0 0;
        height: 91%;
    }

     .powers-table p {
         font-size: .8rem;
         text-align: start;
     }

    .powers-table>div {
        grid-template-columns: .4fr .2fr repeat(2, 1fr);
    }

    .powers-table>div>img {
        width: 25px;
    }

    .powers-table>div>span {
        width: 180px;
        height: 105px;
    }
}