@import url('https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    color: #b5bBbD;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
}

*::-webkit-scrollbar {
    background-color: black;
    border-radius: 10px;
    width: 2px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
}

p {
    font-size: 1rem;
}

a:hover {
    color: #e8e1e0;
}

body {
    font-size: 62.5%;
    background-color: #212222;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

nav>div {
    width: 100%;
    background-color: #1C1E1F;
    color: #b5bBbD;
}

nav>div>h1,
nav>div>a,
nav>div>h2 {
    display: inline-block;
    white-space: nowrap;
    margin-left: 15px;
    font-size: 1.7rem;
}

nav>div>a {
    transition: all .3s ease-in-out;
    display: none;
}

nav>div>h2 {
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav>div span {
    font-size: 2.7rem;
    color: #a07fd0;
}

.container {
    position: relative;
    width: 85vw;
    overflow-y: auto;
    justify-content: space-evenly;
    margin: 65px 0 0 175px;
}

.topics,
.container {
    display: flex;
    height: 580px;
    border-radius: 5px;
    background-color: #1C1E1F;
    border: 1px solid rgba(160, 127, 208, .4);
}

.topics {
    flex-direction: column;

    row-gap: 20px;
    text-align: center;
    width: 150px;

    padding: 5px;
    position: fixed;
    left: 10px;
    top: 65px;

    z-index: 999;
    direction: rtl;
    overflow-y: auto;
    overflow-x: hidden;
}

.topics>div>span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.topics>div:not(:first-of-type)>a {
    border-top: 1px solid rgba(181, 187, 189, .1);
}

.topics>div>a {
    padding: 15px 0;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.topics>div>span>a {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 7px 20px;
}

.topics>div>span>a:hover {
    background-color: rgba(160, 127, 208, .4);
}

.main {
    position: absolute;
    width: 100%;
    height: fit-content;
    padding: 20px;
}

.breaf {
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    border: 1px solid #fff4;
    width: 200px;
}

.breaf>img {
    width: 100%;
}

.breaf>ul {
    list-style: none;
    text-align: center;
    margin: 7px 10px;
}

.breaf>ul:not(:last-of-type) {
    border-bottom: 1px solid #fff4;
}

.breaf>ul>h2 {
    margin: 7px 0;
}

.breaf>ul>li {
    padding: 7px 0;
    position: relative;
    font-size: 1rem;
}

.breaf>ul>li:last-of-type {
    margin-bottom: 7px;
}

li>div {
    display: none;
}

.breaf>ul>li img {
    width: 20px;
}

.breaf>ul#caracteristicas>li:not(:last-of-type):after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100px;
    border-bottom: 1px solid rgba(160, 127, 208, .4);
}


#classes>li {
    width: min-content;
    margin: 0 auto;
    width: 100%;
    padding: 3px 0;
}

#classes>li:last-of-type {
    margin-bottom: 7px;
}

#classes>li>div {
    padding: 10px 15px;
    position: absolute;
    top: -250%;
    z-index: 999;
    overflow-y: hidden;
    left: 189px;
    width: 500px;
    height: auto;
    text-align: justify;
    background-color: #212222;
    border: 3px solid #fff4;
}

p::first-letter {
    margin-left: 15px;
}

#classes>li>a:hover+div,
#classes>li>div:hover {
    display: block;
}

@media only screen and (max-width: 768px) {

    nav {
        position: relative;
        height: 9%;
    }

    nav>div>a {
        display: inline-block;
    }

    nav>div>h1 {
        font-size: 1.5rem;
    }

    nav>div span {
        font-size: 2.5rem;
    }

    .topics {
        margin-left: -160px;
    }

    .container {
        position: absolute;
        width: 100vw;
        margin: 0px 0 0;
        height: 91%;
    }
}

@media only screen and (max-width: 400px) {
    nav>div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav>div>h2 {
        position: unset;
        margin: unset;
        transform: unset;
    }

    .main {
        padding: 15px;
    }

    .breaf {
        width: 150px;
    }
}