.breaf {
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    border: 1px solid #fff4;
    width: 200px;
}

.breaf>img {
    width: 100%;
}

.breaf>ul {
    list-style: none;
    text-align: center;
    margin: 7px 10px;
}

.breaf>ul:not(:last-of-type) {
    border-bottom: 1px solid #fff4;
}

.breaf>ul>h2 {
    margin: 7px 0;
}

.breaf>ul>li {
    padding: 7px 0;
    position: relative;
    font-size: 1rem;
}

.breaf>ul>li:last-of-type {
    margin-bottom: 7px;
}

li>div {
    display: none;
}

.breaf>ul>li img {
    width: 20px;
}

.breaf>ul#caracteristicas>li:not(:last-of-type):after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100px;
    border-bottom: 1px solid rgba(160, 127, 208, .4);
}


#classes>li {
    width: min-content;
    margin: 0 auto;
    width: 100%;
    padding: 3px 0;
}

#classes>li:last-of-type {
    margin-bottom: 7px;
}

#classes>li>div {
    padding: 10px 15px;
    position: absolute;
    top: -250%;
    z-index: 999;
    overflow-y: hidden;
    left: 189px;
    width: 500px;
    height: auto;
    text-align: justify;
    background-color: #212222;
    border: 3px solid #fff4;
}

p::first-letter {
    margin-left: 15px;
}

#classes>li>a:hover+div,
#classes>li>div:hover {
    display: block;
}

@media only screen and (max-width: 400px) {
    .breaf {
        width: 150px;
    }
}